server:
  port: 8090

bot:
  # 公网ip 未配置将自动获取
  internet-host:
  same-machine-qqclient: false

job:
  downloadPixiv:
    cron: 0/15 * 0-7 * * ? *
    enable: 0
    
mybatis-plus:
  type-aliases-package: com.haruhi.botServer.entity

logging:
  level:
    com.haruhi.botServer: info

