<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 引用的application.yml的配置 -->
	<springProperty scope="context" name="logLevel" source="log.level"/>
	<springProperty scope="context" name="logPath" source="log.path"/>
	<springProperty scope="context" name="filename" source="log.filename"/>

	<conversionRule conversionWord="levelColor" converterClass="com.haruhi.botServer.config.log.LevelColorCustomConfig"/>
	<conversionRule conversionWord="messageColor" converterClass="com.haruhi.botServer.config.log.MessageColorCustomConfig"/>
	
	
	<!-- 输出到控制台的日志配置 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出，详细请参考log4j API -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %levelColor(%p) [%thread] %C{0}.%M: %messageColor(%m%n)</pattern>
		</encoder>
	</appender>

	<!-- 所有日志 -->
	<appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/${filename}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- 日志文件备份的文件名 -->
			<FileNamePattern>${logPath}/${filename}_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%thread] %C{0}.%M: %m%n</pattern>
		</encoder>
	</appender>

	<root level="${logLevel}">
		<appender-ref ref="rollingFileAppender" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>
