<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruhi.botServer.mapper.ChatRecordPrivateMapper">

    <sql id="base_columns">
        id,nickname,message_id,user_id,target_id,content,deleted,time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="param.id">
        INSERT INTO ${tableName}(nickname,message_id,user_id,target_id,content,time)
        values(#{param.nickname},#{param.messageId},#{param.userId},#{param.targetId},#{param.content},#{param.time})
    </insert>

    <select id="selectList" resultType="com.haruhi.botServer.entity.ChatRecordPrivate">
        select <include refid="base_columns"></include>
        from ${tableName}
        <where>
            <if test="param.targetId != null">
                and target_id = #{param.targetId}
            </if>
            <if test='param.startTime != null and param.startTime != "" and param.endTime != null and param.endTime != ""'>
                and `time` between #{param.startTime} and #{param.endTime}
            </if>
            <if test='param.content != null and param.content != ""'>
                and content LIKE CONCAT('%',#{param.content},'%')
            </if>
        </where>
        order by `time` ${param.sort}
    </select>


    <select id="selectListByTime" resultType="com.haruhi.botServer.entity.ChatRecordPrivate">
        select <include refid="base_columns"></include>
        FROM ${tableName}
        where target_id = #{targetId}
        and time
        <choose>
            <when test="before">
                &lt;
            </when>
            <otherwise>
                &gt;
            </otherwise>
        </choose>
        #{time}
        ORDER BY time
        <choose>
            <when test="before">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
        LIMIT ${offset}
    </select>
    <select id="selectById" resultType="com.haruhi.botServer.entity.ChatRecordPrivate">
        select <include refid="base_columns"></include>
        FROM ${tableName}
        where id = #{id}
    </select>
</mapper>