<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruhi.botServer.mapper.ChatRecordGroupMapper">

    <sql id="base_columns">
        id,card,nickname,message_id,user_id,self_id,content,deleted,time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="param.id">
     INSERT INTO ${tableName}(card,nickname,message_id,user_id,self_id,content,time)
     values(#{param.card},#{param.nickname},#{param.messageId},#{param.userId},#{param.selfId},#{param.content},#{param.time})
    </insert>

    <select id="selectList" resultType="com.haruhi.botServer.entity.ChatRecordGroup">
        select <include refid="base_columns"></include>
        from ${tableName}
        <where>
            <if test="param.userId != null">
                and user_id = #{param.userId}
            </if>
            <if test='param.startTime != null and param.startTime != "" and param.endTime != null and param.endTime != ""'>
                and `time` between #{param.startTime} and #{param.endTime}
            </if>
            <if test='param.content != null and param.content != ""'>
                and content LIKE CONCAT('%',#{param.content},'%')
            </if>
        </where>
        order by `time` ${param.sort}
    </select>


</mapper>