<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruhi.botServer.mapper.PixivMapper">

    <sql id="baseCol_t">
        t.id,t.pid,t.title,t.width,t.height,t.`view`,t.bookmarks,t.img_url,t.img_p,t.uid,t.author,t.is_r18,t.tags
    </sql>
    <sql id="baseCol">
        id,pid,title,width,height,`view`,bookmarks,img_url,img_p,uid,author,is_r18,tags
    </sql>
    <select id="roundByTagLimit" resultType="com.haruhi.botServer.entity.Pixiv">
        SELECT <include refid="baseCol"/> FROM `t_pixiv` WHERE id >= ( SELECT floor( RAND() * ( SELECT MAX( id ) FROM `t_pixiv` ) ) )
        <if test="isR18 != null">
            AND is_r18 = #{isR18}
        </if>
        <if test="tag != null and tag != ''">
            AND tags LIKE CONCAT('%',CONCAT(#{tag},'%'))
        </if>
        ORDER BY id  LIMIT #{num}

    </select>
    <select id="roundByTagAll" resultType="com.haruhi.botServer.entity.Pixiv">
        SELECT <include refid="baseCol"/> FROM `t_pixiv`
        <where>
            <if test="isR18 != null">
                AND is_r18 = #{isR18}
            </if>
            <if test="tag != null and tag != ''">
                AND tags LIKE CONCAT('%',CONCAT(#{tag},'%'))
            </if>
        </where>
    </select>
    <select id="roundByTagsAll" resultType="com.haruhi.botServer.entity.Pixiv">
        SELECT <include refid="baseCol"/> FROM `t_pixiv`
        <where>
            <if test="isR18 != null">
                AND is_r18 = #{isR18}
            </if>
            <foreach collection="tags" item="item">
                <if test="item != null and item != ''">
                    AND tags LIKE CONCAT('%',CONCAT(#{item},'%'))
                </if>
            </foreach>
        </where>
    </select>
</mapper>