<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruhi.botServer.mapper.TableInitMapper">
    <update id="createGroupChatHistory">
        CREATE TABLE `${tableName}` (
            `id` INT auto_increment NOT NULL,
            `card` varchar(30) COMMENT '群昵称',
            `nickname` varchar(30) COMMENT 'qq昵称',
            `message_id` varchar(30) NOT NULL,
            `group_id` BIGINT NOT NULL,
            `user_id` BIGINT NOT NULL,
            `self_id` BIGINT NOT NULL,
            `content` TEXT COLLATE utf8mb4_unicode_ci,
            create_time BIGINT NOT NULL,
            `deleted` tinyint(1) NOT NULL DEFAULT '0',
            PRIMARY KEY (`id`),
            KEY `index_content` (`content`(767))
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='群聊历史聊天表';
    </update>

    <update id="createPokeReply">
        CREATE TABLE `${tableName}` (
            `id` INT auto_increment NOT NULL,
            `reply` varchar(255) NOT NULL,
            PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='戳一戳回复表';
    </update>

    <update id="createVerbalTricks">
        CREATE TABLE `${tableName}` (
            `id` INT auto_increment NOT NULL,
            `regex` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
            `answer` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
            PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='话术表(全局自定的回复)';
    </update>

    <update id="createWordStrip">
        CREATE TABLE `${tableName}` (
            `id` INT auto_increment NOT NULL,
            `user_id` BIGINT NOT NULL,
            `group_id` BIGINT NOT NULL,
            `self_id` BIGINT NOT NULL,
            `key_word` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
            `answer` text COLLATE utf8mb4_unicode_ci NOT NULL,
            PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='词条表(群自定义回复)';
    </update>

    <update id="createPixiv">
        CREATE TABLE `${tableName}` (
            `id` INT auto_increment NOT NULL,
            `pid` varchar(30) NOT NULL,
            `title` varchar(100) NOT NULL,
            `width` INT NULL,
            `height` INT NULL,
            `view` INT NULL,
            `bookmarks` INT NULL,
            `img_url` varchar(255) NOT NULL,
            `img_p` varchar(100) NULL,
            `uid` varchar(30) NULL,
            `author` varchar(100) NULL,
            `is_r18` bit NOT NULL,
            `tags` text NOT NULL,
            PRIMARY KEY (`id`),
            KEY `index_tags` (`tags`(767))
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='pixiv图库（定时爬虫下载,需要在配置文件开启该爬虫）';
    </update>
</mapper>